* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: 'Poppins', sans-serif;
}

input {
	outline: none;
	border: none;
}

input:focus {
  border-color: transparent !important;
}

.container {
  width: 100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
}

.container-encuesta, .container-chart {
  width: 49%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-encuesta {
  width: 100%;
  background: #80c64a;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
  border-radius: 10px;
  overflow: hidden;
  padding: 32px 35px 32px 32px;
}

.encuesta-form {
  width: 100%;
}

.encuesta-form-title {
  display: block;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.question {
  margin-bottom: 40px;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 280px;
  border-radius: 5px;
  background-color: #333333;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
}

.styled-select select {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  height: 29px;
  padding: 2px;
  width: 308px;
}

option {
  cursor: pointer;
  background-color: #333333;
  color: #fff
}


.wrap-encuesta {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 27px;
}

.wrap-encuesta-form-radio {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 30px;
}

.m-r-42 {
  margin-right: 42px;
}

.input-radio {
  display: none;
}

.label-radio {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
}

.label-radio::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.label-radio::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 6px solid transparent;
  background: #333333;
  background-clip: padding-box;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.input-radio:checked + .label-radio::after {
  display: block;
}

.container-encuesta-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  width: 100%;
}

.encuesta-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #333333;
  border-radius: 25px;
  font-family: "Poppins";
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
}

.encuesta-form-btn:hover {
  background-color: #fff;
  color: black;
}

.focus-input3 {
  display: block;
  width: 100%;
  height: 100%;  
  pointer-events: none;
}
/* 
.container-encuesta-form-error {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10px;
}

#label-obligatorio{
  color:red;
} */